/* 重置樣式 */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    line-height: 1.6;
}

a{
    display: block;
    text-decoration: none;
    color: #333;
    margin: 0 10px ;
}
a:hover{
    color: whitesmoke;
    background-color: black;
}